<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>oilshit - oilprice-api blend list</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="main.css" type="text/css" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="docs">Documentation</a></li>
            <li><a href="docs/blend-list">Blend List</a></li>
        </ul>
    </nav>

    <main>
        <div class="docs-row" style="text-align: center;">
            <div class="col col-endpoint">
                <p style="margin-bottom: 5px;"><strong>Blend code</strong></p>
            </div>

            <div class="col col-description">
                <p style="margin-bottom: 5px;">
                    <strong>Blend name</strong>
                </p>
            </div>

            <div class="col">
                <p style="margin-bottom: 5px;">
                    <strong>Supported periods</strong>
                </p>

                <div class="row-period">
                    <div class="col-period"><code>daily</code></div>
                    <div class="col-period"><code>weekly</code></div>
                    <div class="col-period"><code>monthly</code></div>
                    <div class="col-period"><code>yearly</code></div>
                    <div class="col-period"><code>max</code></div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>wti</code></div>

            <div class="col col-description">
                <p>
                    West Texas Intermediate
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>brent</code></div>

            <div class="col col-description">
                <p>
                    Brent Crude Oil
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>natgas</code></div>

            <div class="col col-description">
                <p>
                    Natural Gas
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>heatingoil</code></div>

            <div class="col col-description">
                <p>
                    Heating Oil
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>opcblend</code></div>

            <div class="col col-description">
                <p>
                    OPC Blend
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>marsus</code></div>

            <div class="col col-description">
                <p>
                    Mars US
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period no">No</div>
                    <div class="col-period no">No</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>opecbasket</code></div>

            <div class="col col-description">
                <p>
                    OPEC Basket
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period no">No</div>
                    <div class="col-period no">No</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>cci</code></div>

            <div class="col col-description">
                <p>
                    Canadian Crude Index
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period yes">Yes</div>
                    <div class="col-period no">No</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>cinta</code></div>

            <div class="col col-description">
                <p>
                    Cinta (Indonesia)
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period no">No</div>
                    <div class="col-period no">No</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>duri</code></div>

            <div class="col col-description">
                <p>
                    Duri (Indonesia)
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period no">No</div>
                    <div class="col-period no">No</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>

        <div class="docs-row">
            <div class="col col-endpoint"><code>minas</code></div>

            <div class="col col-description">
                <p>
                    Minas (Indonesia)
                </p>
            </div>

            <div class="col col-periods">
                <div class="row-period">
                    <div class="col-period no">No</div>
                    <div class="col-period no">No</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                    <div class="col-period yes">Yes</div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <a href="https://oilshit.github.io/" target="_blank" rel="nofollow noreferrer">
            <span id="logo"><i class="fa fa-tint" style="margin-right: 2px"></i><strong>ilshit</strong></span></a>
        <span><strong><a href="https://github.com/oilshit/oilprice-api" target="_blank" rel="nofollow noreferrer"><i
                        class="fab fa fa-github" style="margin-right: 2px"></i></a></strong></span>
    </footer>

    <script src="main.js"></script>
</body>

</html>